* {
	box-sizing: content-box;
}

body{

	background:white;
}

.section-1{
	height: 100%;
}

.pattern-1{
	float: left;
	width: 300px;
	height: 700px;
	margin: 25px;
	background-color: #dadada;
}

p{
	width: 100%;
	margin: 5px;
}

img{
	float: left;
	margin: 50px;
}
