* {
	box-sizing: content-box;
}

body{

	background:gray;
}

.pattern-1{
	float: left;
	width: 200px;
	height: 200px;
	margin: 25px;
	background-color: #dadada;
}

p{
	width: 100%;
	margin: 5px;
}

img{
	float: left;
	margin: 50px;
}
